
<div class="content-heading home-heading center">
	<div class="container">
		<p class="home-title">Welcome to <b>RAPIDO</b></p>
		<p class="home-subtitle">A management system for your company</p>
		<!--<button class="btn-large waves-effect waves-light teal lighten-1">GET STARTED</button>-->
		<div class="dropdown-wrap">
			<div class="dropdown dropdown-inline">
				<a class="btn dropdown-toggle-btn" data-toggle="dropdown">GET STARTED<span class="icon icon-keyboard-arrow-down margin-left-half"></span></a>
				<ul class="dropdown-menu">
					<li>
						<a ng-click="home.modalRegisterCompany()" href="">Register a new company</a>
					</li>
					<li>
						<a ui-sref="app.listCompanies">Show registered companies</a>
					</li>
				</ul>

				<label class="btn btn-blue waves-button waves-effect waves-light" ui-sref="app.gantt">Go to Gantt</label>

			</div>
		</div>
	</div>
	<br><br><br><br><br><br><br>
</div>

<!-- TABS
<div class="content-inner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="content-sub-heading">Select other Page</h2>
				<nav class="tab-nav">
					<ul class="nav nav-justified">
						<li class="active">
							<a class="waves-effect waves-light" data-toggle="tab" href=".first-tab">First Tab</a>
						</li>
						<li>
							<a class="waves-effect waves-light" data-toggle="tab" href=".second-tab">Second Tab</a>
						</li>
						<li>
							<a class="waves-effect waves-light" data-toggle="tab" href=".third-tab">Third Tab</a>
						</li>
						<li>
							<a class="waves-effect waves-light" data-toggle="tab" href=".fourth-tab">Fourth Tab</a>
						</li>
					</ul>
				</nav>
				<div class="tab-content">
					<div class="tab-pane fade active in first-tab">
					</div>
					<div class="tab-pane fade second-tab">
					</div>
					<div class="tab-pane fade third-tab">
					</div>
					<div class="tab-pane fade fourth-tab">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->
